<!DOCTYPE html>
<html>
  <head>
    <title>OurSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": "<%= current_user.id%>",
          "firstName": "<%= current_user.first_name %>",
          "lastName": "<%= current_user.last_name %>",
          "email": "<%= current_user.email%>",
          "birthday": "<%= current_user.birthday %>",
          "gender": "<%= current_user.gender %>"
          "occupation": "<%= current_user.occupation %>"
          "education": "<%= current_user.education %>"
          "location": "<%= current_user.location %>"
          "coverPicture": "<%= url_for(current_user.cover_picture)%>"
          "profilePicture": "<%= url_for(current_user.profile_picture)%>"
        }
      </script>
    <% end %>
    <script type="text/javascript">window.logoiconURL= "<%= image_url('logo_with_icon_transparent.png')%>";</script>
    <script type="text/javascript">window.logoInitialsURL= "<%= image_url('logo_initials_transparent.png')%>";</script>
    <script type="text/javascript">window.def_pic_man= "<%= image_url('def_pic_man')%>";</script>
    <script type="text/javascript">window.def_pic_woman= "<%= image_url('def_pic_woman')%>";</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
