<!DOCTYPE html>
<html>
  <head>
    <title>OurSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">window.logoiconURL= "<%= image_url('logo_with_icon_transparent.png')%>";</script>
  </head>

  <body>
  <% if logged_in? %>
    <script type="text/javascript">
        window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
  <% end %>
    <%= yield %>
  </body>
</html>
